aside{
    background-color: rgb(173, 254, 0, 0.7);
}
.botonPulsado{
    background-color: #FEC3A6;
}
.iconos{
    width: 30px;
    height: 30px;
}
.colorPrecio{
    color: rgb(157,154,154);
    font-weight: bold;
}

.colorCorazon{
    color: red;
}

.iconoCorazon{
    font-size: 30px;
}

.colorBody{
    background-color: rgb(227, 251, 249);
}
